<% layout('/layouts/boilerplate') -%>
  <div>
    <h1>All Reports</h1>
    <div class="newReport">
      <form method="get" action="/report/create">
        <button>Create New Report</button>
      </form>
    </div>
        
    <a class="userLogout" href="/logout">Logout</a>

    <% if(reports && reports.length) {%>
    <% for(let report of reports) { %>
  
    <div class="report-card">
      <div >
        <p><b>Username: <%= report.userId.username %></b></p>
        <p ><%= report.title %></p>
        <p><%= report.description %></p>
        <p><%= report.userId.email %></p>
        <p>Uploaded At: <%= report.uploadedAt %></p>
        <form method="get" action="/report/<%= report._id %>">
          <button>View Report</button>
        </form>
      </div>
    </div>
    <% } %>
    <% } %>
  </div>

<%- include('../includes/ai') %>
</body>