<% layout('/layouts/boilerplate') -%>
<body>
    <h1>Medical Report History</h1>
    <div class="reportHistory">
        <p><b>Id:</b>  <%= medicalHistory.id %></p>
        <p><b>Vaccinations:</b>  <%= medicalHistory.vaccinations %></p>
        <p><b>Pregnancy Start Date</b> :  <%= medicalHistory.pregnancyStartDate %></p>
        <p><b>Blood Type:</b>  <%= medicalHistory.bloodType %></p>
        <p><b>Gravida:</b>  <%= medicalHistory.gravida %></p>
        <p><b>Parity:</b>  <%= medicalHistory.para %></p>
        <p><b>Medical Conditions:</b>  <%= medicalHistory.medicalCondition %></p>
        <p><b>Allergies: </b> <%= medicalHistory.allergies %></p>
        <p><b>Medications:</b>  <%= medicalHistory.medication %></p>
        <p><b>Created At:</b>  <%= medicalHistory.createdAt %></p>
    </div>
    <form method="GET" action="/medicalHistory/<%= medicalHistory.id %>/edit">
        <button>Edit</button>
    </form>
    <form method="POST" action="/medicalHistory/<%= medicalHistory.id %>/delete?_method=DELETE">
        <button>Delete</button>
    </form>
    <a href="/medicalHistory">back</a>
</body>