<% layout("layouts/boilerplate") %>

<div class="card p-3 shadow">
  <h2>All Bills</h2>
  <a href="/bills/upload" class="btn btn-sm btn-primary">Upload Bill</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Total Amount</th>
        <th>Date</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% bills.forEach(bill => { %>
        <tr>
          <td><%= bill.patientName %></td>
          <td>₹<%= bill.totalAmount.toLocaleString() %></td>
          <td><%= bill.createdAt.toDateString() %></td>
          <td>
            <a href="/bills/view/<%= bill._id %>" class="btn btn-sm btn-primary">Details</a>
          </td>
          <td>
            <form action="/bills/view/<%= bill._id %>?_method=DELETE" class="btn btn-sm btn-primary" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
